<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/eventStyle.css">

</head>

<body>

    <div class="container-fluid p-2 bg-danger text-center text-white">
        <h3>EVENT MANAGER</h3>

    </div>
<div class="section">
    <div id="cover-section-signup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div id="sigUpsection">
                    <form class="p-4 text-white" id="sigUpinnersection">
                        <h3 class="text-center">SIGN UP</h3>
                        <hr class="hr">
                
                        <div class="form-group">
                          <label for="firstname">First Name</label>
                          <input type="text" id="firstname" class="form-control" placeholder="e.g.Charles" aria-describedby="helpId">
                        </div>
                        
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" id="lastname" class="form-control" placeholder="e.g.Andy" aria-describedby="helpId">
                        </div>

                        <div class="form-group">
                            <label for="signupemail">Email address</label>
                            <input type="email" class="form-control" id="signupemail" aria-describedby="emailHelp" placeholder="you@example.com">

                        </div>
                        
                        <div class="form-group">
                            <label for="siguppassword">Password</label>
                            <input type="password" class="form-control" id="siguppassword" placeholder="**********">
                        </div>

                        <div class="form-group">
                            <label for="signupconfirmpassword">Confirm Password</label>
                            <input type="password" class="form-control" id="signupconfirmpassword" placeholder="**********">
                        </div>
                        
                        <div class="row text-center">
                            <div class="col-md-12 col-sm-12">
                                <button type="submit" class="btn btn-danger btn-lg btn-block"><strong> SIGN UP</strong></button>
                            </div>
                            
                        </div>


                    </form>
                </div>
            </div>


        </div>

    </div>
    </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="scripts/jquery-3.2.1.min.js"></script>
    <script src="scripts/popper.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
</body>

</html>